*.pdf
*.txt
/TypeGenerique/nbproject/private/
/TypeGenerique/build/
/FileGenerique/nbproject/private/
/FileGenerique/build/
/ListeChaine/nbproject/private/
/ListeChaine/build/
/Recursivite/nbproject/private/
/Recursivite/build/
/InterfaceGraphique/nbproject/private/
/InterfaceGraphique/build/